.create-event-page {
  margin-bottom: 80px;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  margin: 10px;

  text-align: left;
}

.create-event-form > * {
  margin: 2px 0;
}

.create-event-form > div {
  display: flex;
  flex-direction: column;

}

.create-event-form .suggestion-list {
  width: inherit;
  border: 1px solid black;
  list-style-type: none;
}

.create-event-form .suggestion-list > * {
  font-size: 0.8rem;
}