* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile */
.create-event-page {
  margin: 50px;
  margin-bottom: 80px;
  z-index: 0 !important;
}

.create-event-form {
  z-index: 0 !important;
}

.create-event-button {
  margin: 10px;
}

.create-event-form .suggestion-list {
  border-left: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150);
}

/* Tablet  */
@media (min-width: 600px) {
  .create-event-page {
    margin: 100px 25vw;
    margin-bottom: 200px;
  }
}

/* Desktop */
@media (min-width: 900px) {
}

/* .create-event-form {
  display: flex;
  flex-direction: column;
  margin: 10px;

  text-align: left;
}

.create-event-form > * {
  margin: 2px 0;
}

.create-event-form > div {
  display: flex;
  flex-direction: column;

} */
