* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile */
.event-page {
  border: 1px solid black;
}

.event-page img {
  border: 1px solid black;
  width: 100vw
}



/* Tablet  */
@media (min-width: 600px) {
  .event-page img {
    border: 1px solid black;
    width: 200px
  }
}

/* Desktop */
@media (min-width: 900px) {
}

/* header {
  display: flex;
  flex-direction: column;
}

.event-page-edit-button {
  position: absolute;
  margin: 5px;
} */

/* main {
  padding: 5px;
}

.event-page-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid black;
}

.creator-attendees {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.creator-attendees > div {
  text-align: left;
  width: 100%;
  border: 1px solid black;
}

.event-page-description {
  display: flex;
  border: 1px solid black;
  text-align: left;
}

.event-page-price {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.event-page-price > div {
  text-align: left;
  width: 50%;
  border: 1px solid black;
}

.event-page-attend-button {
  display: flex;
  justify-content: center;
}

.event-page-attend-button button {
  padding: 4px 12px;
} */
