* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile */
.signup-container {
  display: flex;
  justify-content: center;
}

.signup-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.signup-buttons {
  display: flex;
  justify-content: center;
}

/* Tablet  */
@media (min-width: 600px) {
}

/* Desktop */
@media (min-width: 900px) {
}
