.filter-bar-search-container {
  padding: 3px;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: column;
  gap: .3125rem;

}

.filter-bar-search-input {
  display: flex;
  flex-direction: column;
  gap: .125rem;
}

.filter-bar-search-filters {
  display: flex;
  gap: .25rem;
}

.filter-bar-search-filters button {
  font-size: 0.85rem;
}