* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile */
.navbar-container {
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 55px;
  
  background-color: white; */
  border-top: 1px solid black;
  z-index: 1 !important;
  /* 
  display: flex;
  justify-content: center;
  align-items: center; */
}

/* Tablet  */
@media (min-width: 600px) {
}

/* Desktop */
@media (min-width: 900px) {
}
