* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile */
.navbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 55px;
  z-index: 1;
  background-color: white;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-bottom {
  display: flex;
  gap: 8vw;
  margin: 0 15px;
}

.navbar-bottom .nav-item {
  /* border: 1px solid black; */
}

/* Tablet  */
@media (min-width: 600px) {
}

/* Desktop */
@media (min-width: 900px) {
}
